#cy {
	position: absolute;
	left: 110px;
	top: 0px;
	right: 0;
	bottom: 0;
	font-size: 1em;
}

h1,h2,h3,h4,p {
	margin: auto;
	text-align: left;
}

h2{
	font-size: 0.8em;
}

h3 {
	font-style: italic;
	font-size: 0.7em;
}

p {
	font-size: 0.7em;
}

.usage {
	position: absolute;
	bottom: 10px;
	left: 10px;
	
}
